body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 400px;
    width: 100%;
    padding: 0.1px; /* Reduce padding for a more compact appearance */
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container h3 {
    text-align: center;
    margin-bottom: 15px;
    color: blue;
}

.form-group {
    width: 100%;
    margin-bottom: 4px; 
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    color: #333;
    align-items: center;
}

.form-group input {
    width: 100%;
    padding: 12px;
    border: 2px solid #ccc;
    border-radius: 8px;
    transition: border-color 0.3s;
    align-items: center;
}

.form-group input[type="text"],
.form-group input[type="password"] {
    border-color: #ddd;
}

.form-group input[type="text"]:focus,
.form-group input[type="password"]:focus {
    border-color: #007BFF;
}

.form-group input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 12px 18px;
    cursor: pointer;
    transition: background-color 0.3s;
    align-items: center;
}

.form-group input[type="submit"]:hover {
    background-color: #0056b3;
}

p {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

a {
    color: #007BFF;
}
